<%= turbo_frame_tag dom_id(shelf) do %>
  <div class="max-w-xs rounded overflow-hidden my-2 mr-2 bg-gray-200">
    <div class="px-6 py-4">
      <span class="name font-bold text-xl">
        <%= link_to shelf.name, shelf_path(shelf), data: { turbo: false } %>
      </span>
      <small>
        <%= link_to 'Edit', edit_shelf_path(shelf) %>
      </small>
    </div>
  </div>
<% end %>
