<% content_for :top_text do %>
  <h3>Todas los estantes</h3>
<% end %>

<!--
  En el elemento <button> vemos la forma en que Stimulus trabaja.

  Se definen atributos data-action y data-target con los cual el respectivo controlador
  podrá encontrar este elemento y saber qué hacer y a qué elemento afectar.
-->

<% content_for :action_button do %>
<!--
  El atributo `data-action` está indicando que

  - para el evento `click`
  - usa la función `#toggle`
  - del controlador `form-toggle`

  El controlador lo encuentra por una convención:

    form_toggle_controller.js -> form-toggle

  sin usar el sufijo `_controller.js`

  Por su parte, el atributo `data-target` permite referenciar el elemento
  que queremos manipular desde el controlador.

  Se define indicando el nombre del controlador y el nombre del target;

    form-toggle.TARGET_NAME

  Luego, en el controlador se podrá hacer referencia mediante directivas.
-->
  <button
   class="bg-green-600 hover:bg-green-dark text-white font-bold py-2 px-4 rounded"
   data-action="click->form-toggle#toggle"
   data-target="form-toggl.form"
  >
    Crear Estante
  </button>
<% end %>

<%= turbo_stream_from "shelves" %>

<%= turbo_frame_tag "shelf_form" do %>
<!--
  Con el atributo data-controller-target podemos completar el enlace
  entre controlador y objetivo.
-->
  <div data-form-toggle-target="form" class="hidden">
    <%= render "form", shelf: @shelf %>
  </div>
<% end %>

<div>
  <%= turbo_frame_tag "shelves", class: "flex flex-row flex-wrap" do %>
    <%= render @shelves %>

    <%#= render(ShelfComponent.with_collection(@shelfs)) %>
  <% end%>
</div>
