<% content_for :top_text do %>
  <h2>Viendo: <%= @shelf.name %></h2>
<% end %>

<% content_for :action_button do %>
  <%= link_to 'Volver', shelves_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>

  <%= link_to 'Editar', edit_shelf_path(@shelf), class: 'bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded' %>
<% end %>

<div class="flex flex-row flex-wrap">
  <%= render(ShelfDetailComponent.new(shelf_detail: @shelf)) %>
</div>
