<div class="category-detail w-full">
  <div class="bg-gradient-to-t">
    <%= image_tag('books.jpg', class: 'w-full h-40') %>
  </div>

  <h2 class="text-3xl my-2"><%= @category.name %></h2>

  <p class="my-4"><%= @category.description %></p>
</div>

<div class="content mt-4 flex flex-col">
  <h2 class="text-2xl mb-4">En esta categoría</h2>

  <div class="content-in-category">
    <% @activities.each do |act| %>
      <%= link_to activity_path(act) do %>
        <span class="p-2 mr-2 bg-blue-200 rounded hover:bg-blue-400">
          <%= act.name %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
