<%#= link_to movies_path(movie.id) do %>
<!-- <a hx-get="/movies/<%= movie.id %>"> -->
<a hx-get="/movies/<%= movie.id %>" hx-push-url="true">
  <div class="max-w-xs rounded overflow-hidden my-2 mr-2 bg-gray-200">
    <%= image_tag('books.jpg', class: 'w-full h-32') %>

    <div class="px-6 py-4">
      <div class="name font-bold text-xl mb-2">
        <%= movie.name %>
      </div>

      <p class="text-grey-darker text-base">
        <%= movie.description %>
      </p>
    </div>

  </div>
</a>
<%# end %>
