<div class="flex flex-col w-3/5">
  <h2 class="text-3xl"><%= @movie.name %></h2>
  <small><%= @movie.author %></small>

  <p class="my-4"><%= @movie.description %></p>
</div>

<div class="">
  <%= image_tag('books.jpg') %>
</div>
