<!-- Sidebar -->
<div class="bg-purple-900 bg-opacity-100 text-purple-700 w-1/5 pb-6 hidden md:block">
  <h1 class="text-white text-xl mb-8 mt-3 px-4 font-sans flex justify-between">
    <%= link_to root_path do %>
      <span>Leisure Shelf Playground</span>
    <% end %>
  </h1>

  <div class="mt-4 bg-purple-900 bg-opacity-75 border-t border-b border-white hover:bg-purple-600 hover:bg-opacity-50">
    <%= link_to activities_path,
      class: 'p-2 pl-4 text-white font-semi-bold inline-block w-full h-full' do %>
        <i class="fa-solid fa-list"></i>
        Actividades
    <% end %>
  </div>

  <div class="mt-4 bg-purple-900 bg-opacity-75 border-t border-b border-white hover:bg-purple-600 hover:bg-opacity-50">
    <%= link_to categories_path,
      class: 'p-2 pl-4 text-white font-semi-bold inline-block w-full h-full' do %>
        <i class="fa-solid fa-shapes"></i>
        Categorías
    <% end %>
  </div>

  <div class="mt-4 bg-purple-900 bg-opacity-75 border-t border-b border-white hover:bg-purple-600 hover:bg-opacity-50">
    <%= link_to shelves_path,
      class: 'p-2 pl-4 text-white font-semi-bold inline-block w-full h-full' do %>
        <i class="fa-solid fa-swatchbook"></i>
        Estantes
    <% end %>
  </div>

  <div class="mt-4 bg-purple-900 bg-opacity-75 border-t border-b border-white hover:bg-purple-600 hover:bg-opacity-50">
    <%= link_to series_index_path,
      class: 'p-2 pl-4 text-white font-semi-bold inline-block w-full h-full' do %>
        <i class="fa-solid fa-tv"></i>
        Series de TV
    <% end %>
  </div>

  <div class="mt-4 bg-purple-900 bg-opacity-75 border-t border-b border-white hover:bg-purple-600 hover:bg-opacity-50">
    <%= link_to movies_path,
      class: 'p-2 pl-4 text-white font-semi-bold inline-block w-full h-full' do %>
        <i class="fa-solid fa-film"></i> Películas
    <% end %>
  </div>
</div>
