<!-- Top bar -->
<div class="border-b flex px-6 py-4 items-center">
  <div class="flex flex-col">
    <div class="text-grey">
      <%= yield :top_text %>
    </div>
  </div>
  <div class="ml-auto hidden md:block">
    <%= yield :action_button %>
  </div>
</div>
