<div class="flex flex-col w-3/5">
  <h2 class="text-3xl"><%= @activity.name %></h2>
  <small><%= @activity.author %></small>

  <p class="my-4"><%= @activity.description %></p>

  <p class="mb-2">Etíquetas</p>
  <div class="flex flex-row">
    <% tag_list.each do |t| %>
      <span class="p-2 mr-2 bg-blue-200 rounded hover:bg-blue-400">
        <%= t %>
      </span>
    <% end %>
  </div>
</div>

<div class="">
  <%= image_tag('books.jpg') %>
</div>
