<div class="max-w-xs rounded overflow-hidden my-2 mr-2 bg-gray-200">
  <div class="px-6 py-4">
    <div class="name font-bold text-xl">
      <%= link_to @shelf.name, shelf_path(@shelf) %>
    </div>
  </div>
</div>
