<div class="shelf-detail flex flex-col w-3/5">
  <h2 class="text-3xl my-2"><%= @shelf.name %></h2>

  <p class="my-4"><%= @shelf.description %></p>
</div>

<div class="w-2/5">
  <%= image_tag('books.jpg') %>
</div>

<div class="content mt-12 w-full flex flex-col">
  <h2>En este estante</h2>

  <div class="content-in-shelf">
    <% @activities.each do |act| %>
      <%= link_to activity_path(act) do %>
        <span class="p-2 mr-2 bg-blue-200 rounded hover:bg-blue-400">
          <%= act.name %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
