<!--
  Cuando queremos editar la categoría, podemos cargar el formulario en el mismo bloque HTML sin recargar la página.

  Para que la actualización funcione se necesita el `turbo_frame_tag` aquí y
  el `dom_id(category)` para que genere en el HTML `id=category_1`.

  Va de la mano con lo que está en el modelo Category callback `after_update_commit`.
-->
<%= turbo_frame_tag dom_id(category) do %>
  <div class="max-w-xs rounded overflow-hidden my-2 mr-2 bg-gray-200">
    <div class="px-6 py-4">
      <span class="name font-bold text-xl">
        <%= link_to category.name, category_path(category), data: { turbo: false } %>
      </span>
      <small>
        <%= link_to 'Edit', edit_category_path(category) %>
      </small>
    </div>
  </div>
<% end %>
