<%= form_with(model: category, id: dom_id(category)) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:
      </p>

      <ul class="list-disc text-red-500 mb-4">
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-row justify-center">
    <div class="flex flex-col flex-grow">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Nombre' %>
    </div>
  </div>

  <div class="flex flex-row justify-center mt-6">
    <div class="flex flex-col flex-grow">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Text' %>
    </div>
  </div>

  <div class="flex flex-row mt-4">
    <% button_text = @category.new_record? ? 'Guardar' : 'Actualizar' %>
    <%= f.submit button_text, class: 'mt-2 bg-blue-500 text-white font-semibold px-4 py-2 rounded w-full md:w-3/4 lg:w-5/12 cursor-pointer' %>
  </div>
<% end %>
