<!--
  Cuando turbo falle el botón de editar categoría hará una navegación a esta vista.

  En ese caso, se cargará el `content_for` definido aquí.
-->
<% content_for :top_text do %>
  <h2>Editando categoría</h2>
<% end %>

<!--
  Este turbo_frame_tag se necesita para poder mostrar el formulario en el mismo lugar donde está el elemento a editar.
-->
<%= turbo_frame_tag dom_id(@category) do %>
  <%= render 'form', category: @category %>
<% end %>
