<% content_for :top_text do %>
  <h3>Todas las categorías</h3>
<% end %>

<% content_for :action_button do %>
  <button
   class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"
   data-action="click->form-toggle#toggle"
   data-target="form-toggl.form"
  >
    Crear Categoría
  </button>
<% end %>

<!--
  Este turbo_stream_from es necesario para que cuando se complete la acción del formulario y se cree un nuevo recurso se añada el mismo al listado y se refleje inmediatamente.

  Sin esto, todo funcionaría igual pero no habría cambio en la vista.

  Va de la mano con lo que se configura en el modelo Category, en el callback after_create_commit.
-->
<%= turbo_stream_from "categories" %>

<!-- Este turbo_frame_tag está aquí para poder hacer que se muestren los errores al ser una vista en un lugar
diferente. -->
<%= turbo_frame_tag "category_form" do %>
  <div data-form-toggle-target="form" class="hidden">
    <%= render "form", category: @category %>
  </div>
<% end %>

<div>
  <%= turbo_frame_tag "categories", class: "flex flex-row flex-wrap" do %>
    <%= render @categories %>

    <%#= render(CategoryComponent.with_collection(@categories)) %>
  <% end %>
</div>
