<!--
  Cuando turbo falle el botón de nueva categoría hará una navegación a esta vista.

  En ese caso, se cargará el `content_for` definido aquí.
-->
<% content_for :top_text do %>
  <h2>Creando nueva categoría</h2>
<% end %>

<%= render 'form', category: @category %>
