<% content_for :top_text do %>
  <h3>Nueva Actividad</h3>
<% end %>

<% content_for :action_button do %>
  <%= link_to 'Volver', activities_path, class: 'bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded' %>
<% end %>

<%= form_with(model: @activity, local: true, data: { turbo: false }) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@activity.errors.count, "error") %> prohibited this category from being saved:
      </p>

      <ul class="list-disc text-red-500 mb-4">
        <% @activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-row justify-center">
    <div class="flex flex-col flex-grow">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Nombre' %>
    </div>

    <div class="flex flex-col flex-grow">
      <%= f.label :author %>
      <%= f.text_field :author, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Autor' %>
    </div>

    <div class="flex flex-col flex-grow">
      <%= f.label :tags %>
      <%= f.text_field :tags, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Etiquetas' %>
    </div>
  </div>

  <div class="flex flex-row justify-center mt-6">
    <div class="flex flex-col flex-grow">
      <%= f.label :category_id, 'Categoría' %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: 'Escoge' }, { selected: @activity.category_id }) %>
    </div>

    <div class="flex flex-col flex-grow">
      <%= f.label :shelf_id, 'Estante' %>
      <%= f.collection_select(:shelf_id, Shelf.all, :id, :name, { include_blank: 'Escoge' }, { selected: @activity.category_id }) %>
    </div>
  </div>

  <div class="flex flex-row justify-center mt-6">
    <div class="flex flex-col flex-grow">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'border-solid border-2 p-2 w-full md:w-3/4 lg:w-5/12', placeholder: 'Text' %>
    </div>
  </div>

  <div class="flex flex-row justify-center mt-4">
    <% button_text = @activity.new_record? ? 'Guardar' : 'Actualizar' %>
    <%= f.submit button_text, class: 'mt-2 bg-blue-500 text-white font-semibold px-4 py-2 rounded w-full md:w-3/4 lg:w-5/12' %>
  </div>
<% end %>
