<% content_for :top_text do %>
  <h1>Todas las actividades</h1>
<% end %>

<% content_for :action_button do %>
  <!-- Usando HTMX

  Pongo el input aquí porque si lo pongo por fuera, cada vez que se renderice un resultado
  se repetirá de nuevo.

  Esto porque está trayendo todo lo que haya en la vista activities#index -->
  <input class="form-control" type="search" name="query" placeholder="Escribe para buscar"
    hx-get="/search"
    hx-trigger="keyup changed delay:500ms, query"
    hx-target="#activities">

  <%= link_to 'Crear Actividad', new_activity_path, class: 'bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded' %>
<% end %>

<div class="flex flex-row flex-wrap" id="activities">
  <%= render(ActivityCardComponent.with_collection(@activities)) %>
</div>
