<% content_for :top_text do %>
  <h2>Viendo: <%= @activity.name %></h2>
<% end %>

<% content_for :action_button do %>
  <%= link_to 'Volver', activities_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
  <%= link_to 'Editar', edit_activity_path(@activity), class: 'bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded' %>
<% end %>

<div class="flex flex-row">
  <%= render(ActivityComponent.new(activity: @activity)) %>
</div>
