<%= link_to series_path(serie.id) do %>
  <div class="max-w-xs rounded overflow-hidden my-2 mr-2 bg-gray-200">
    <%= image_tag('books.jpg', class: 'w-full h-32') %>
    <div class="px-6 py-4">
      <div class="name font-bold text-xl mb-2">
        <%= serie.name %>
      </div>
      <p class="text-grey-darker text-base">
        <%= serie.description %>
      </p>
    </div>
  </div>
<% end %>
