<% content_for :top_text do %>
  <h2>Series de TV</h2>
<% end %>

<div class="flex flex-row flex-wrap">
  <% if @series %>
    <!-- Renderizado con ERB -->
    <%#= render partial: 'serie', collection: @series, as: 'serie' %>

    <!-- Renderizado con Phlex -->
    <%= render Series.new(series: @series) %>
  <% else %>
    <p>Nada que ver por aquí.</p>
  <% end %>
</div>
