<!DOCTYPE html>
<html>
  <head>
    <title>Leisure Shelf Playground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>

    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="w-full border shadow bg-white">
      <div class="flex min-h-screen">
        <%= render 'shared/sidebar' %>
        <!--
          Con el helper add_form_toggle_controller estoy definiendo, según necesito, en que vista definir el atributo data-controller.

          Sin eso, nada de lo de Stimulus funcionará.
        -->
        <div class="w-full flex flex-col" <%= add_form_toggle_controller(params) %>>
          <%= render 'shared/topbar' %>

          <!-- <div class="px-6 py-4 flex-1"> -->
          <div class="px-6 py-4 flex-1" hx-target="this">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
